@model IEnumerable<vmBookingRecord>
@{
    ViewBag.Title = "BookingRecord";
    Layout = "~/Views/Shared/_LayoutMovie.cshtml";
}
<style>
    body {
        background-color: #17181A;
    }
    th{
        color:white;
    }
    td {
        color: white;
    }
</style>
<!--=== movies 7 ===-->
<section class="movies movie-7 movie-box movie-modify-7-3 pt-5 page-top-margin">
    <div class="container">
        <div class="row">

        </div>
    </div>

</section>

<table>
    <thead>
        <tr>
            <th>電影場次名稱</th>
            <!-- Add more table headers as needed -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="@Url.Action("SeatRecord", "Movie",new {ShowNo = item.ShowNo})">@item.Title @item.ShowDate.Value.ToString("yyyy-MM-dd") @item.ShowTime @item.HallNo</a></td>
            </tr>
        }
    </tbody>
</table>