@model vmRegister

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

    List<SelectListItem> GenderList = new List<SelectListItem>();
    using (ListItemData listData = new ListItemData())
    {
        GenderList = listData.GenderList();
    }
}

<div class="padding-all">
    <div class="header">
        <h1>註冊頁面</h1>
    </div>

    <div class="design-w3l">
        <div class="mail-form-agile">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal mt-2">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row form-group mt-1">
                        @Html.LabelFor(model => model.UserNo, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.UserNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row form-group mt-1">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row form-group mt-1">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row form-group mt-1">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row form-group mt-1">
                        @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row form-group mt-1">
                        @Html.LabelFor(model => model.GenderCode, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.GenderCode, GenderList, new { @class = "form-control selectpicker",data_live_search="false" })
                            @Html.ValidationMessageFor(model => model.GenderCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row form-group mt-1">
                        @Html.LabelFor(model => model.UserTel, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.UserTel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserTel, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row form-group mt-1">
                        @Html.LabelFor(model => model.UserAddress, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.UserAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <hr />
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="註冊帳號" class="btn btn-primary m-0 py-0" style="font-size:1rem; " />
                            @Html.ActionLink("返回登入頁", "Login","Movie",  new { area = ActionService.Area }, new { @class = "btn btn-success" })
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
