@model IEnumerable<ETicket.Models.Orders>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="overflow-scroll">
    @Html.Partial("~/Views/PartialViews/_PartialFormHeader.cshtml")
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>
                @Html.Partial("~/Views/PartialViews/_PartialFormCreate.cshtml")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SheetNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SheetDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsClosed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsValid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuidNo)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            ActionService.RowId = item.Id;
            ActionService.RowData = (item.SheetNo == null) ? "" : $"{item.SheetNo}";
            <tr>
                <td>
                    @Html.Partial("~/Views/PartialViews/_PartialFormEdit.cshtml")
                    @Html.Partial("~/Views/PartialViews/_PartialFormDelete.cshtml")
                    @Html.ActionLink("ª¬ºA", "Status", "UORDP001_OrderUnClose", new { area = "User", id = ActionService.RowId }, new { @class = "btn btn-warning" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SheetNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SheetDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsClosed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsValid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td class="table-wrap">
                    @Html.DisplayFor(modelItem => item.GuidNo)
                </td>
            </tr>
        }
    </table>
</div>