@model IEnumerable<ETicket.Models.CodeBases>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="overflow-scroll">
    @Html.Partial("~/Views/PartialViews/_PartialFormHeader.cshtml")
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>
                @Html.Partial("~/Views/PartialViews/_PartialFormCreate.cshtml")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Counts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            ActionService.RowId = item.Id;
            ActionService.RowData = (item.BaseNo == null) ? "" : $"{item.BaseNo} {item.BaseName} ";
            <tr>
                <td>
                    @Html.Partial("~/Views/PartialViews/_PartialFormEdit.cshtml")
                    @Html.Partial("~/Views/PartialViews/_PartialFormDelete.cshtml")
                    @Html.Partial("~/Views/PartialViews/_PartialFormDetail.cshtml")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Counts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultValue)
                </td>
                <td class="table-wrap">
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
            </tr>
        }
    </table>
</div>