@model ETicket.Models.Pricings

@{
    ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ActionService.RowId = Model.Id;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal mt-2">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.IsEnabled, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsEnabled)
                            @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.PricingNo, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PricingNo, new { htmlAttributes = new { @class = "form-control edit-control" } })
                        @Html.ValidationMessageFor(model => model.PricingNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.PricingName, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PricingName, new { htmlAttributes = new { @class = "form-control edit-control" } })
                        @Html.ValidationMessageFor(model => model.PricingName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.ProdPrice, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProdPrice, new { htmlAttributes = new { @class = "form-control edit-control" } })
                        @Html.ValidationMessageFor(model => model.ProdPrice, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.CycleName, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CycleName, new { htmlAttributes = new { @class = "form-control edit-control" } })
                        @Html.ValidationMessageFor(model => model.CycleName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control edit-control" } })
                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                @Html.Partial("~/Views/PartialViews/_PartialFormSumit.cshtml")
            </div>
        </div>
    </div>
}


