@model vmChangePassword

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLite.cshtml";
}

<div class="card card-size-small mt-5 shadow">
    <div class="card-header text-white bg-primary">
        <div class="float-start">
            <h3>@AppService.AppName</h3>
        </div>
        <div class="float-end">
            <h3>密碼變更</h3>
        </div>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal mt-2">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row form-group">
                    @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group mt-2">
                    <div class="col-md-12">
                        <input type="submit" value="變更密碼" class="btn btn-primary" />
                        @Html.ActionLink(ActionService.ReturnHome, ActionService.Home, "Web", new { area = "" }, new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>