@model IEnumerable<ETicket.Models.Languages>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="overflow-scroll">
    @Html.Partial("~/Views/PartialViews/_PartialFormHeader.cshtml")
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>
                @Html.Partial("~/Views/PartialViews/_PartialFormCreate.cshtml")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LangNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LangName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            ActionService.RowId = item.Id;
            ActionService.RowData = (item.LangNo == null) ? "" : $"{item.LangNo} {item.LangName}";
            <tr>
                <td>
                    @Html.Partial("~/Views/PartialViews/_PartialFormEdit.cshtml")
                    @Html.Partial("~/Views/PartialViews/_PartialFormDelete.cshtml")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LangNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LangName)
                </td>
                <td class="table-wrap">
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
            </tr>
        }
    </table>
</div>