@model vmMetadataModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<SelectListItem> ClassList = new List<SelectListItem>();
    using (ListItemData listData = new ListItemData())
    {
        ClassList = listData.ClassNewMetadataList();
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal mt-2">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row form-group mt-1">
            @Html.LabelFor(model => model.ClassName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ClassName, ClassList, new { @class = "form-control selectpicker", data_live_search = "true" })
                @Html.ValidationMessageFor(model => model.ClassName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group mt-1">
            @Html.LabelFor(model => model.KeyColumn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KeyColumn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KeyColumn, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group mt-1">
            @Html.LabelFor(model => model.UniqueNoColumn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UniqueNoColumn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UniqueNoColumn, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group mt-1">
            @Html.LabelFor(model => model.RequiredColumns, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequiredColumns, new { htmlAttributes = new { @class = "form-control" } })
                <div class="text-danger">多筆欄位請以逗號間隔,例: CustNo,CustName</div>
                @Html.ValidationMessageFor(model => model.RequiredColumns, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="row form-group">
            <div class="col-md-12">
                <input type="submit" value="預覽 metadata 類別" class="btn btn-primary" />
                @Html.ActionLink("返回首頁", "Index", "Home", new { area = ActionService.Area }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}

@Html.Partial("~/Views/PartialViews/_PartialCodePropertyList.cshtml")
@section scriptsbody
{
    <script>
        $('#ClassName').on('change', function (e) {
            $.ajax({
                url: '@Url.Action("GetPropertys" , "Code" , new { area = ""})',
                type: 'POST',
                data: { id: $("#ClassName").val() },
                dataType: 'json',
                success: function (response) {
                    $('table#tblProperty > tbody#columns').empty();
                    $.each(response, function (i, item) {
                        $('table#tblProperty > tbody#columns').append("<tr>\
										        <td >"+ item.ColumnName + "</td>\
										        <td class=\"px-2\">"+ item.ColumnType + "</td>\
                                                <td class=\"px-2\">"+ item.AllowNull + "</td>\
										        </tr>");
                    });
                },
                error: function () {
                    alert('讀取類別屬性清單錯誤!!');
                }
            });
        });
    </script>
}