@model vmMetadataModel

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ClassName)
        @Html.HiddenFor(model => model.KeyColumn)
        @Html.HiddenFor(model => model.FolderName)
        @Html.HiddenFor(model => model.FileName)

        <div class="row form-group">
            @Html.LabelFor(model => model.ClassName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.DisplayFor(model => model.ClassName)
                    @Html.ValidationMessageFor(model => model.ClassName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(model => model.FolderName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.DisplayFor(model => model.FolderName)
                    @Html.ValidationMessageFor(model => model.FolderName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.DisplayFor(model => model.FileName)
                    @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(model => model.TextResult, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.TextAreaFor(model => model.TextResult, new { @class = "form-control", @rows = 20 })
                    @Html.ValidationMessageFor(model => model.TextResult, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <hr />
        <div class="row form-group">
            <div class="col-md-12">
                @Html.Partial("~/Views/PartialViews/_PartialFormSumit.cshtml")
            </div>
        </div>
    </div>
}
