@model IEnumerable<ETicket.Models.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="overflow-scroll">

    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>
                @Html.Partial("~/Views/PartialViews/_PartialFormCreate.cshtml")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsValid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("修改", "CreateEdit", "MUSRP001_User", new { area = "Mis", id = item.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("刪除", "Delete", "MUSRP001_User", new { area = "", id = item.Id }, new
                {
                    @class = "btn btn-danger",
                    onclick = "return confirm('是否確定要刪除?');"
                })
                </td>
                <td>
                    <img src="~/Images/User/U001.jpg" class="row-image-thumbnail" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsValid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactTel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactAddress)
                </td>
                <td class="table-wrap">
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
            </tr>
        }
    </table>

    <div>
        @if (SessionService.Page > 1)
        {
            @Html.ActionLink("First", "Index", new { page = 1 })
            <span>&nbsp;&nbsp;</span>
            @Html.ActionLink("Previous", "Index", new { page = SessionService.Page - 1 })
            <span>&nbsp;&nbsp;</span>
        }

        @for (int i = Math.Max(1, SessionService.Page - 2); i < SessionService.Page; i++)
        {
            <span>&nbsp;&nbsp;</span>
            @Html.ActionLink(i.ToString(), "Index", new { page = i })
            <span>&nbsp;&nbsp;</span>
        }

        <strong>@SessionService.Page</strong>

        @for (int i = SessionService.Page + 1; i <= Math.Min(SessionService.Page + 2, SessionService.TotalPage); i++)
        {
            <span>&nbsp;&nbsp;</span>
            @Html.ActionLink(i.ToString(), "Index", new { page = i })
            <span>&nbsp;&nbsp;</span>
        }

        @if (SessionService.Page < SessionService.TotalPage)
        {
            @Html.ActionLink("Next", "Index", new { page = SessionService.Page + 1 })
            <span>&nbsp;&nbsp;</span>
            @Html.ActionLink("Last", "Index", new { page = SessionService.TotalPage })
        }
    </div>
</div>

