@model IEnumerable<ETicket.Models.OrdersStatus>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="overflow-scroll">
    @Html.Partial("~/Views/PartialViews/_PartialFormHeader.cshtml")
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>
                @Html.Partial("~/Views/PartialViews/_PartialFormCreate.cshtml")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsClosed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            ActionService.RowId = item.Id;
            ActionService.RowData = (item.StatusNo == null) ? "" : $"{item.StatusNo} {item.StatusName}";
            <tr>
                <td>
                    @Html.Partial("~/Views/PartialViews/_PartialFormEdit.cshtml")
                    @Html.Partial("~/Views/PartialViews/_PartialFormDelete.cshtml")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPayed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsClosed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td class="table-wrap">
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
            </tr>
        }
    </table>
</div>