@model ETicket.Models.Companys

@{
    ViewBag.Title = "CreateEdit2";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ActionService.RowId = Model.Id;
    List<SelectListItem> CompanyTypeList = new List<SelectListItem>();
    using (ListItemData listData = new ListItemData())
    {
        CompanyTypeList = listData.BaseDataList("Company");
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal mt-2">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.IsDefault, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsDefault)
                            @Html.ValidationMessageFor(model => model.IsDefault, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.IsEnabled, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsEnabled)
                            @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.CompNo, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CompNo, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.CompNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.RegisterDate, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.RegisterDate, new { htmlAttributes = new { @class = "form-control  edit-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.RegisterDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.ShortName, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.EngShortName, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EngShortName, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.EngShortName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.CompName, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CompName, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.CompName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.EngName, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EngName, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.EngName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.BossName, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.BossName, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.BossName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.CompTel, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CompTel, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.CompTel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.ContactTel, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ContactTel, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.ContactTel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.CompFax, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CompFax, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.CompFax, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.CompID, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CompID, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.CompID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.ContactEmail, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.ContactEmail, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.CodeNo, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.CodeNo, CompanyTypeList , new { @class = "form-control  edit-control selectpicker", data_live_search = "true" })
                        @Html.ValidationMessageFor(model => model.CodeNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.CompAddress, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CompAddress, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.CompAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.CompUrl, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CompUrl, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.CompUrl, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.TwitterUrl, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TwitterUrl, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.TwitterUrl, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.FacebookUrl, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FacebookUrl, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.FacebookUrl, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.InstagramUrl, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.InstagramUrl, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.InstagramUrl, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.SkypeUrl, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SkypeUrl, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.SkypeUrl, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.LinkedinUrl, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LinkedinUrl, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.LinkedinUrl, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-4 border-end">
                        @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-start border-end  border-top">
                <div class="row form-group">
                    <div class="col-md-2 border-end">
                        @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label text-success fw-bold" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control  edit-control" } })
                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                @Html.Partial("~/Views/PartialViews/_PartialFormSumit.cshtml")
            </div>
        </div>
    </div>
}
